*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    background-color: rgb(230, 240, 232);
    border-radius: 30px;
    box-shadow: 15px 15px 29px;
    width: auto;
    height: 37.5rem;
}

img{
    width: 100%;
    height: 37.5rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login h1{
    font-size: 4rem;
    font-weight: 400;
}

.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -26px -19px 30px -12px rgba(0, 0, 0, .35);
}
.btn1{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.fa-facebook:hover{
    color: blue;
}
.fa-instagram:hover{
    color: rgb(230, 47, 175);
}
.fa-github:hover{
    color: rgb(55, 55, 61);
}
.fa-twitter:hover{
    color: blue;
}
.fa-linkedin:hover{
    color: blue;
}
.logins{
    padding: 20px;
    font-size: 15px;
}
.social-icons i{
    margin-right: 20px;
}

@media (max-width:991px) {
    .col-lg-5 img {
        height: 50%;
        border-top-right-radius: 30px;
        border-bottom-left-radius:0px ;
    }

    .row{
        height: 100%;
    }

    .col-lg-5{
        height: 50%;
    }

    .login h1{
        font-size: 2rem;
    }
}
